<div id="adventuresPage">
  <div id="embark">
    <a href="/">embark</a>
  </div>

  <div class='filters'>
  <!--   <nav>
  <ul class="nav">
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a>
      <ul>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
      </ul>
    </li>
    <li><a href="#">Resume</a>
      <ul>
        <li><a href="#">item a lonng submenu</a></li>
        <li><a href="#">item</a>
          <ul>
            <li><a href="#">Ray</a></li>
            <li><a href="#">Veronica</a></li>
            <li><a href="#">Bushy</a></li>
            <li><a href="#">Havoc</a></li>
          </ul>
        </li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
      </ul>
    </li>
    <li><a href="#">Download</a></li>
    <li><a href="#">Rants</a>
      <ul>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
      </ul>
    </li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav> -->

<!--    <form>
   <select>
    <%@categories.each do |cat|%>
     <option><%=cat.name%></option>
    <%end%>
  </select>

  <select >    
    <%@adventures.each do |adv|%>
     <option><%=adv.duration%></option>
    <%end%>
  </select> 
</form> -->

</div>

<section id="adventure-container">
  <section class="wraper"> 
    <%@adventures.each do |adv|%>
    <figure class='small'>
      <a href="/adventures/<%=adv.id%>">
        <img src=<%=adv.image_url%> alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="/adventures/<%=adv.id%>">
          <strong class="text transition-050 title">Adventure</strong>
          <span class="text transition-050 desc"><%=adv.name%></span>
        </a>
      </figcaption>
    </figure>
    <%end%>
  </section>
</section>
</div>
