<!-- <div id="adventuresPage">
  <div id="adventuresTop">


    <div id="adventuresTitle">
      <a href="/">EMBARK</a>
    </div>

      <button name="filters">Filter Search</button>

    <div class="filterOptions">

        <div id="filterLocation"> 
          <%= link_to "Local", adventures_path(search: "local"), class: 'btn' %>
          <%= link_to "Continental", adventures_path(search: "continential"), class: 'btn'%>
          <%= link_to "Global", adventures_path(search: "global"), class: 'btn' %>
        </div>
        <form>
          <select>
              <option>Category</option>
            <%@categories.each do |cat|%>
             <option><%=cat.name%></option>
            <%end%>
          </select>

          <select >    
             <option>Duration</option>
            <%@adventures.each do |adv|%>
             <option><%=adv.duration%></option>
            <%end%>
          </select>
        </form>
    </div>
</div>
<div id="gallery">
   <%@adventures.each do |adv|%>
      <div class="image">
         <a href="/adventures/<%=adv.id%>">
            <img src=<%=adv.image_url%> alt="">
          </a>
      </div>
    <%end%>
</div>
</div> -->

<head>
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//use.typekit.net/gio7rmo.js"></script><style type="text/css"></style>
  <style type="text/css">.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.net/c/749ae2/proxima-nova:n1:n3:n6.b5r:P:2,b5t:P:2,b5y:P:2/d?3bb2a6e53c9684ffdc9a9bff195b2a62eddc7af2380fdbefada29662e09f4d570ee2cb72fa9a9bf464c57d6eee5ffd15b8963d1ac258113b529259e6e38ea7d22f482c18433fc4c30d74860327c5ec82073d0b0ad5dde4835017d53e6273144264b07f6270cf10b8234c483772c5383b499a08a7924f1724e18671bbeaa273ce4c657784d10da847366ef7735a5cd871a8ef5359687ac8d41aace2e5d39e9bec4f5cf76752f7e4a6ce20d70e888342a06968aefe60f99f576d9e1aed30b3440edf"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30395430-1', 'cobblehilldigital.com');
    ga('send', 'pageview');

  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>Cobble Hill | Web Design &amp; Marketing Agency in Charleston, SC</title>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="stylesheet" type="text/css" media="all" href="http://cobblehilldigital.com/wp-content/themes/cobblehill/css/mytheme.css">
  <link rel="pingback" href="http://cobblehilldigital.com/xmlrpc.php">
  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/retina.min.js"></script>
  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/jquery-color-2.1.0.min.js"></script>
  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/jquery.scrollTo-1.4.3.1-min.js"></script>
  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/iCheck.js"></script>
  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/mytheme.js"></script>

  <!--[if lt IE 9]>
  <script src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/html5.js"></script>
  <![endif]-->

<link rel="stylesheet" id="contact-form-7-css" href="http://cobblehilldigital.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.8.1" type="text/css" media="all">
<script type="text/javascript" src="http://cobblehilldigital.com/wp-includes/js/jquery/jquery.js?ver=1.11.0"></script>
<script type="text/javascript" src="http://cobblehilldigital.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<link rel="EditURI" type="application/rsd+xml" href="http://cobblehilldigital.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://cobblehilldigital.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 3.9.1">
<link rel="shortlink" href="http://cobblehilldigital.com/">
<link rel="shortcut icon" type="image/x-icon" href="http://cobblehilldigital.com/wp-content/themes/cobblehill/favicon.ico"><style type="text/css"></style><script type="text/javascript" src="http://downloads.mailchimp.com/js/jquery.form-n-validate.js"></script><script type="text/javascript" src="http://downloads.mailchimp.com/js/jquery.form-n-validate.js"></script></head>
<div id="wrapper" style="opacity: 1;">
    <div id="nav">
      <div class="mid-cont">
        <a class="embark" href="/">EMBARK</a>
        <div class="close"></div>
    
                <div class="menu-main-nav-container"><ul id="menu-main-nav" class="menu"><li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://embarkinspire.tumblr.com/">Our Story<br><span class="sub">a glimpse into our motivation to inspire </span></a></li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="https://github.com/cicadas-2014/Embark">Admin<br><span class="sub">solutions to our technical problems</span></a></li>
<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://devbootcamp.com/">Background<br><span class="sub">our devbootcamp experience</span></a></li>
<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="https://www.gmail.com/intl/en/mail/help/about.html">Contact<br><span class="sub">we want to hear from you</span></a></li>
<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://www.gadventures.com/">What’s New<br><span class="sub">the latest and greatest</span></a></li>
</ul></div>     </div>
    </div>


    <div id="header" class="scrolled">
      <div class="mid-cont">
        <a class = "embark" href="/" style="background-position: 0px -18px;">EMBARK</a>
        <div class="hamburger" style="background-position: 0px -28px;"></div>
      </div>

    </div>
    <div id="adventuresPage">
  <div id="adventuresTop">
<!-- 

    <div id="adventuresTitle">
      <a href="/">EMBARK</a>
    </div> --><!-- 

      <button name="filters">Filter Search</button>
 -->
<!--     <div class="filterOptions">

        <div id="filterLocation"> 
          <%= link_to "Local", adventures_path(search: "local"), class: 'btn' %>
          <%= link_to "Continental", adventures_path(search: "continential"), class: 'btn'%>
          <%= link_to "Global", adventures_path(search: "global"), class: 'btn' %>
        </div>
        <form>
          <select>
              <option>Category</option>
            <%@categories.each do |cat|%>
             <option><%=cat.name%></option>
            <%end%>
          </select>

          <select >    
             <option>Duration</option>
            <%@adventures.each do |adv|%>
             <option><%=adv.duration%></option>
            <%end%>
          </select>
        </form>
    </div>
</div> -->



<p id="tagline">Choose your own adventure</p>
<div id="home-scroll" class="desktop" onclick="scrollToHome();">
  <div class="pointer">
    &#96;
</div>

</div>
<div id="gallery">
   <%@adventures.each do |adv|%>
      <div class="image">
         <a href="/adventures/<%=adv.id%>">
            <img src=<%=adv.image_url%> alt="">
          </a>
      </div>
    <%end%>
</div>
</div> 


<!-- <div id="main-wrap" class="cont">
      
<div id="bg-video" class="cont desktop">
  <div class="home-tagline desktop">We Create Inspired Experiences</div>
  <div id="home-scroll" class="desktop" onclick="scrollToHome();"><img class="pointer" alt="" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/images/scroll-icon@2x.png" width="52" height="44"></div>
  <div class="videoWrapper">
    <video autoplay="true" loop="true" preload="auto">
      <source src="http://cobblehilldigital.com/wp-content/themes/cobblehill/videos/cobble-hill-video.mp4" type="video/mp4">
      <source src="http://cobblehilldigital.com/wp-content/themes/cobblehill/videos/cobble-hill-video.ogv" type="video/ogv">
      <source src="http://cobblehilldigital.com/wp-content/themes/cobblehill/videos/cobble-hill-video.webm" type="video/webm">
       [if IE]><div style='clear: both; height: 112px; padding:0; position: relative;'><a href="http://www.theie8countdown.com/ie-users-info"><img src="http://www.theie8countdown.com/assets/badge_iecountdown.png" border="0" height="112" width="348" alt="" /></a></div><![endif]
    </video> 
 
  </div> 
</div>
<div id="section1" class="cont">
  <div class="mid-cont">
    <img id="elephant" alt="" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/images/elephant@2x.png" width="46" height="81">
    <h5>let us bring your brand to life</h5>
    <h1 class="headline"><span>We are a full-service agency specializing in web design, web development, content creation, branding, graphic design, and advertising.</span></h1>
    <a class="button white" href="http://cobblehilldigital.com/our-story/">get a look inside our studio</a>
  </div>
</div>
<div id="section2" class="cont">
  <div class="header cont">
    <span>Our Specialties</span>
    <div class="span_4">
      <a class="button black" href="/services">what we do</a>
    </div>
  </div>
  <div id="cta-cont" class="cont">
              
            
          <a class="cta strategy" href="/services/#strategy" style="background:#2ba0a3">
            <div class="no-hover">
              <div class="icon"><img src="http://cobblehilldigital.com/wp-content/uploads/2014/05/strategy-icon@2x.png" class="attachment-full wp-post-image" alt="strategy-icon" width="139" height="140"></div>
              <h3>Strategy</h3>
            </div>
            <div class="for-hover">
              <div class="icon"><img src="http://cobblehilldigital.com/wp-content/uploads/2014/05/strategy-icon@2x.png" class="attachment-full wp-post-image" alt="strategy-icon" width="0" height="0"></div>
              <h3>Strategy</h3>
              <div class="description cont"><div class="sep"></div><span>Great marketing begins with a solid foundation.</span></div>
            </div>
          </a>
          
            
          <a class="cta creative" href="/services/#creative" style="background:#ee3823">
            <div class="no-hover">
              <div class="icon"><img src="http://cobblehilldigital.com/wp-content/uploads/2014/05/creative-icon@2x.png" class="attachment-full wp-post-image" alt="creative-icon" width="115" height="119"></div>
              <h3>Creative</h3>
            </div>
            <div class="for-hover">
              <div class="icon"><img src="http://cobblehilldigital.com/wp-content/uploads/2014/05/creative-icon@2x.png" class="attachment-full wp-post-image" alt="creative-icon" width="0" height="0"></div>
              <h3>Creative</h3>
              <div class="description cont"><div class="sep"></div><span>Our designs are thoughtfully fresh.</span></div>
            </div>
          </a>
          
            
          <a class="cta development" href="/services/#development" style="background:#fdb818">
            <div class="no-hover">
              <div class="icon"><img src="http://cobblehilldigital.com/wp-content/uploads/2014/05/development-icon@2x.png" class="attachment-full wp-post-image" alt="development-icon" width="127" height="115"></div>
              <h3>Development</h3>
            </div>
            <div class="for-hover">
              <div class="icon"><img src="http://cobblehilldigital.com/wp-content/uploads/2014/05/development-icon@2x.png" class="attachment-full wp-post-image" alt="development-icon" width="0" height="0"></div>
              <h3>Development</h3>
              <div class="description cont"><div class="sep"></div><span>User experience is our top priority.</span></div>
            </div>
          </a>
          </div>
  <div class="cont btn-mobile">
    <div class="mid-cont">
      <a class="button white" href="/services">what we do</a>
    </div>
  </div>
  <div id="home-slider" class="cont black-bg">
    <div class="center-cont">
      <div class="title-header cont mobile"><h5>featured work</h5></div>
            <div class="flexslider cont">
        <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;">
              <a href="http://cobblehilldigital.com/featured-work/jack-rudy-cocktail-co/">
                <img alt="" src="http://cobblehilldigital.com/wp-content/uploads/2014/05/jackrudy-header.jpg">
                <div class="featured-info">
                  <div class="title-header cont desktop"><h5>featured work</h5></div>
                  <div class="info-cont cont">
                    <h5>Jack Rudy Cocktail Co.</h5>
                    <h2>Timeless Good Taste</h2>
                    <div class="sub-title cont">Contemporary e-commerce for yesterday’s cocktails.</div>
                  </div>
                </div>
              </a>
            </li>
          
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
              <a href="http://cobblehilldigital.com/featured-work/le-creuset/">
                <img alt="" src="http://cobblehilldigital.com/wp-content/uploads/2014/05/le-creuset-hero@2x.jpg" width="1280" height="715">
                <div class="featured-info">
                  <div class="title-header cont desktop"><h5>featured work</h5></div>
                  <div class="info-cont cont">
                    <h5>Le Creuset</h5>
                    <h2>Informatively Interactive</h2>
                    <div class="sub-title cont">An in-store experience, in your pocket.</div>
                  </div>
                </div>
              </a>
            </li>
          
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
              <a href="http://cobblehilldigital.com/featured-work/good-coffee-company-of-charleston/">
                <img alt="" src="http://cobblehilldigital.com/wp-content/uploads/2014/05/good-coffee-hero2@2x.jpg" width="1280" height="715">
                <div class="featured-info">
                  <div class="title-header cont desktop"><h5>featured work</h5></div>
                  <div class="info-cont cont">
                    <h5>Good Coffee Company</h5>
                    <h2>Branding From the Ground Up</h2>
                    <div class="sub-title cont">A company was born. And it was Good.</div>
                  </div>
                </div>
              </a>
            </li>
          
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
              <a href="http://cobblehilldigital.com/featured-work/pure-barre/">
                <img alt="" src="http://cobblehilldigital.com/wp-content/uploads/2014/05/pure-barre-hero1@2x.jpg" width="1280" height="715">
                <div class="featured-info">
                  <div class="title-header cont desktop"><h5>featured work</h5></div>
                  <div class="info-cont cont">
                    <h5>Pure Barre</h5>
                    <h2>Beauty and Brawn</h2>
                    <div class="sub-title cont">A high-traffic site and scheduling tool allows clients to sweat-on-demand.</div>
                  </div>
                </div>
              </a>
            </li>
          
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
              <a href="http://cobblehilldigital.com/featured-work/parkman-sunglasses/">
                <img alt="" src="http://cobblehilldigital.com/wp-content/uploads/2014/05/parkman-hero3@2x.jpg" width="1280" height="715">
                <div class="featured-info">
                  <div class="title-header cont desktop"><h5>featured work</h5></div>
                  <div class="info-cont cont">
                    <h5>Parkman Sunglasses</h5>
                    <h2>The Future is Bright</h2>
                    <div class="sub-title cont">Crafting a home for a brand new classic.</div>
                  </div>
                </div>
              </a>
            </li>
          
                  </ul>
      <ol class="flex-control-nav flex-control-paging" style="left: 560px;"><li><a class="flex-active">1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li></ol></div>
    </div>
  </div>
  <div class="latest-posts cont">
                      <div class="latest">
            <h5 class="date">07.02.2014</h5>
          <div class="small-divider"></div>
          <h1 class="entry-title"><a href="http://cobblehilldigital.com/web-developer/">Web Developer</a></h1>
            <div class="description">
              <p>We’re looking for a motivated web developer with two or more years experience for project based in-house work that can lead to a full-time position for the right person. What You Bring: Advanced knowledge of HTML5, CSS3, PHP and Javascript. Cross-browser development Experience with WordPress Working knowledge of Adobe Creative Cloud Strong attention to detail …</p>
            </div>
          <a class="button white" href="http://cobblehilldigital.com/web-developer/">continue reading</a>
        </div>

              <div class="latest">
            <h5 class="date">06.05.2014</h5>
          <div class="small-divider"></div>
          <h1 class="entry-title"><a href="http://cobblehilldigital.com/charleston-waterkeeper/">Charleston Waterkeeper</a></h1>
            <div class="description">
              <p>We’ve worked with this local non-profit since their conception, and the content-heavy website was a true labor of love. With up-to-date resources for users, options to donate and layers of information, the site is hub for volunteers, members, students and the community. We have designed multiple marketing collateral pieces, including a 5 Year Report and …</p>
            </div>
          <a class="button white" href="http://cobblehilldigital.com/charleston-waterkeeper/">continue reading</a>
        </div>

        
  </div>
</div>


    </div>
    <div id="footer" class="cont">
      <div class="mid-cont">
        <div class="contact-cont">
          <h3>get in touch</h3>
          <div class="address">
            329 East Bay St, 2nd Floor<br> Charleston, SC 29401         </div>
          <div class="contact">
            843.718.3337<br>
            <a href="mailto:hello@cobblehilldigital.com">hello@cobblehilldigital.com</a>
          </div>
        </div>
        <div class="social-cont">
          <h3>be social</h3>
          <a class="twitter social-icon" target="_blank" href="http://www.twitter.com/cobble_hill"><img alt="" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/images/twitter-icon@2x.png" width="23" height="19"></a>
          <a class="instagram social-icon" target="_blank" href="http://instagram.com/cobble_hill"><img alt="" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/images/instagram-icon@2x.png" width="22" height="22"></a>
          <a class="dribble social-icon" target="_blank" href="http://www.dribbble.com/cobblehill"><img alt="" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/images/dribble-icon@2x.png" width="22" height="22"></a>
        </div>
        <div class="signup-cont">
          <h3>stay updated</h3>
          <div id="mc_embed_signup">
          <form action="http://cobblehilldigital.us4.list-manage.com/subscribe/post?u=cc803fd047281d20ac52aaf4a&amp;id=fed43781f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">

          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_cc803fd047281d20ac52aaf4a_fed43781f6" tabindex="-1" value=""></div>
              <div class="clear"><div class="submit-cont"><input type="submit" value="" name="subscribe" id="mc-embedded-subscribe"><img class="arrow" alt="" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/images/newsletter-arrow@2x.png" width="9" height="16"></div></div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';
    try {
        var jqueryLoaded=jQuery;
        jqueryLoaded=true;
    } catch(err) {
        var jqueryLoaded=false;
    }
    var head= document.getElementsByTagName('head')[0];
    if (!jqueryLoaded) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
        head.appendChild(script);
        if (script.readyState && script.onload!==null){
            script.onreadystatechange= function () {
                  if (this.readyState == 'complete') mce_preload_check();
            }    
        }
    }

    var err_style = '';
    try{
        err_style = mc_custom_error_style;
    } catch(e){
        //err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
    }
    var head= document.getElementsByTagName('head')[0];
    var style= document.createElement('style');
    style.type= 'text/css';
    if (style.styleSheet) {
      style.styleSheet.cssText = err_style;
    } else {
      style.appendChild(document.createTextNode(err_style));
    }
    head.appendChild(style);
    setTimeout('mce_preload_check();', 250);

    var mce_preload_checks = 0;
    function mce_preload_check(){
        if (mce_preload_checks>40) return;
        mce_preload_checks++;
        try {
            var jqueryLoaded=jQuery;
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
        head.appendChild(script);
        try {
            var validatorLoaded=jQuery("#fake-form").validate({});
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        mce_init_form();
    }
    function mce_init_form(){
        jQuery(document).ready( function($) {
          var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
          var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
          $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
          options = { url: 'http://cobblehilldigital.us4.list-manage.com/subscribe/post-json?u=cc803fd047281d20ac52aaf4a&id=fed43781f6&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                        beforeSubmit: function(){
                            $('#mce_tmp_error_msg').remove();
                            $('.datefield','#mc_embed_signup').each(
                                function(){
                                    var txt = 'filled';
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            var bday = false;
                                            if (fields.length == 2){
                                                bday = true;
                                                fields[2] = {'value':1970};//trick birthdays into having years
                                            }
                                          if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                          } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                          } else {
                              if (/\[day\]/.test(fields[0].name)){
                                                  this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                         
                              } else {
                                                  this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                              }
                                          }
                                        });
                                });
                            $('.phonefield-us','#mc_embed_signup').each(
                                function(){
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                            this.value = '';
                          } else {
                              this.value = 'filled';
                                          }
                                        });
                                });
                            return mce_validator.form();
                        }, 
                        success: mce_success_cb
                    };
          $('#mc-embedded-subscribe-form').ajaxForm(options);


        });
    }
    function mce_success_cb(resp){
        $('#mce-success-response').hide();
        $('#mce-error-response').hide();
        if (resp.result=="success"){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(resp.msg);
            $('#mc-embedded-subscribe-form').each(function(){
                this.reset();
          });
        } else {
            var index = -1;
            var msg;
            try {
                var parts = resp.msg.split(' - ',2);
                if (parts[1]==undefined){
                    msg = resp.msg;
                } else {
                    i = parseInt(parts[0]);
                    if (i.toString() == parts[0]){
                        index = parts[0];
                        msg = parts[1];
                    } else {
                        index = -1;
                        msg = resp.msg;
                    }
                }
            } catch(e){
                index = -1;
                msg = resp.msg;
            }
            try{
                if (index== -1){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);            
                } else {
                    err_id = 'mce_tmp_error_msg';
                    html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                    var input_id = '#mc_embed_signup';
                    var f = $(input_id);
                    if (ftypes[index]=='address'){
                        input_id = '#mce-'+fnames[index]+'-addr1';
                        f = $(input_id).parent().parent().get(0);
                    } else if (ftypes[index]=='date'){
                        input_id = '#mce-'+fnames[index]+'-month';
                        f = $(input_id).parent().parent().get(0);
                    } else {
                        input_id = '#mce-'+fnames[index];
                        f = $().parent(input_id).get(0);
                    }
                    if (f){
                        $(f).append(html);
                        $(input_id).focus();
                    } else {
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);
                    }
                }
            } catch(e){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);
            }
        }
    }

    </script>
<script type="text/javascript" src="http://cobblehilldigital.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.50.0-2014.02.05"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/cobblehilldigital.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://cobblehilldigital.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.8.1"></script>
<script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/functions.js?ver=20131209"></script>
    
        <script type="text/javascript">            
            /*
                This is the inifinite scrolling setting, you can modify this at your will
            */
            var inf_scrolling = {                
                /*
                    img: is the loading image path, add a nice gif loading icon there                    
                    msgText: the loading message                
                    finishedMsg: the finished loading message
                */
                loading:{
                    img: "http://cobblehilldigital.com/wp-content/themes/cobblehill/images/ajax-loader.gif",
                    //msgText: "Loading next posts....",
                    //finishedMsg: "Posts loaded!!",
                },

                /*Next item is set nextSelector. 
                NextSelector is the css class of page navigation.
                In our case is #nav-below .nav-previous a
                */
                "nextSelector":".navigation .next",

                //navSelector is a css id of page navigation
                "navSelector":".navigation",

                //itemSelector is the div where post is displayed
                "itemSelector":"article",

                //contentSelector is the div where page content (posts) is displayed
                "contentSelector":"#main-wrap .blog-cont"
            };

            /*
                Last thing to do is configure contentSelector to infinite scroll,
                with a function jquery from infinite-scroll.min.js
            */
            jQuery(inf_scrolling.contentSelector).infinitescroll(inf_scrolling);
        </script>        
      </div>-->

