<div id="adventuresPage">
  <div id="adventuresTop">


    <div id="adventuresTitle">
      <a href="/">EMBARK</a>
    </div>

      <button name="filters">Filter Search</button>

    <div class="filterOptions">

        <div id="filterLocation"> 
          <%= link_to "Local", adventures_path(search: "local"), class: 'btn' %>
          <%= link_to "Continental", adventures_path(search: "continential"), class: 'btn'%>
          <%= link_to "Global", adventures_path(search: "global"), class: 'btn' %>
        </div>
        <form>
          <select>
              <option>Category</option>
            <%@categories.each do |cat|%>
             <option><%=cat.name%></option>
            <%end%>
          </select>

          <select >    
             <option>Duration</option>
            <%@adventures.each do |adv|%>
             <option><%=adv.duration%></option>
            <%end%>
          </select>
        </form>
    </div>
</div>
<div id="gallery">
   <%@adventures.each do |adv|%>
      <div class="image">
         <a href="/adventures/<%=adv.id%>">
            <img src=<%=adv.image_url%> alt="">
          </a>
      </div>
    <%end%>
</div>
</div>
