
<head>


  <link rel="stylesheet" type="text/css" media="all" href="http://cobblehilldigital.com/wp-content/themes/cobblehill/css/mytheme.css"> 

  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/mytheme.js"></script> 

</head>

<div id="wrapper" style="opacity: 1;">
    <div id="nav">
      <div class="mid-cont">
        <a class="embark" href="/">EMBARK</a>
        <div class="close"></div>
    
                <div class="menu-main-nav-container"><ul id="menu-main-nav" class="menu"><li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://embarkinspire.tumblr.com/">Our Story<br><span class="sub">a glimpse into our motivation to inspire </span></a></li>
                <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="https://github.com/cicadas-2014/Embark">Admin<br><span class="sub">solutions to our technical problems</span></a></li>
                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://devbootcamp.com/">Background<br><span class="sub">our devbootcamp experience</span></a></li>
                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="https://www.gmail.com/intl/en/mail/help/about.html">Contact<br><span class="sub">we want to hear from you</span></a></li>
                <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://www.gadventures.com/">What’s New<br><span class="sub">the latest and greatest</span></a></li>
</ul></div>     </div>
    </div>

<div id="adventuresPage">
  <div id="adventuresTop">
    <div id="header" class="scrolled">
      <div class="mid-cont">
        <a class = "embark" href="/" style="background-position: 0px -18px;">EMBARK</a>
        <div class="hamburger" style="background-position: 0px -28px;"></div>
      </div>

    <div id="adventuresPage">

      <button name="filters">Filter Search</button>

    <div class="filterOptions">

        <div id="filterLocation"> 
          <%= link_to "Local", adventures_path(search: "local"), class: 'btn' %>
          <%= link_to "Continental", adventures_path(search: "continential"), class: 'btn'%>
          <%= link_to "Global", adventures_path(search: "global"), class: 'btn' %>
        </div>
        <form>
          <select>
              <option>Category</option>
            <%@categories.each do |cat|%>
             <option><%=cat.name%></option>
            <%end%>
          </select>

          <select >    
             <option>Duration</option>
            <%@adventures.each do |adv|%>
             <option><%=adv.duration%></option>
            <%end%>
          </select>
        </form>
    </div> 
</div>



<p id="tagline">Choose your own adventure</p>
<div id="home-scroll" class="desktop" onclick="scrollToHome();">
  <div class="pointer">&#96;</div>

</div>
<div id="gallery">
   <%@adventures.each do |adv|%>
      <div class="image">
         <a href="/adventures/<%=adv.id%>">
            <img src=<%=adv.image_url%> alt="">
                          </a>
      </div>
    <%end%>
</div>
                </div> 


                    