
<%= render "embark/topnav" %>
<div id="userforms">
  <div id="loginform">
    <%= render "users/login" %>
  </div>
  <div id="signupform">
    <%= render "users/signup" %>  
  </div>
</div>
<div id="back"></div>

<p id="tagline">Choose your own adventure</p>
<div id="compass">`</div>

</div>

<div id="gallery">
 <%@adventures.each do |adv|%>
 <div class="image">
  <a href="/adventures/<%=adv.id%>">
    <img src=<%=adv.image_url%> alt="">
  </a>
  <div id='title'><%=adv.title%></div>
</div>
<%end%>
</div>



