
<%= render "embark/topnav" %>
<div id="userforms">
  <div id="loginform">
    <%= render "users/login" %>
  </div>
  <div id="signupform">
    <%= render "users/signup" %>  
  </div>

</div>

<div id="back"></div>

<p id="tagline">Choose your own adventure</p>
<%= collection_select(:category, :category_id, @categories, :id, :name, {prompt: 'Click here to Filter By Category'}) %>
<!-- <a data-no-turbolink="true" href="/adventures?search=inspire"><div id="compass"><img src="/globe.png"/></div>
<div id="inspire">Inspire Me</div></a> -->
</div>



<div id="gallery">
  <%if @adventures.length > 27 %>
    <% @adventures.each do |adv| %>
      <a href="/adventures/<%= adv.id %>"><img src=<%=adv.image_url%> alt=""></a>
    <% end %>
  <% else %>
     <%@adventures.each do |adv|%>
     <div class="image">
        <a href="/adventures/<%=adv.id%>">
          <img src=<%=adv.image_url%> alt="">
        </a>
        <div id='title'><%=adv.title%></div>
      </div>
    <%end%>
  <% end %>
</div>



