<head>
  <link rel="stylesheet" href="css/description.css.scss">

  <link rel="stylesheet" type="text/css" media="all" href="http://cobblehilldigital.com/wp-content/themes/cobblehill/css/mytheme.css">

  <script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/mytheme.js"></script>
</head>

<div id="loader" style="display: none;"></div>
<div id="nav" style="height: auto; top: -380px;">
      <div class="mid-cont">
        <a id="embark hidden" href="/" style="position: relative;">EMBARK</a>
        <div class="close" style="display: none;"></div>
        <div class="menu-main-nav-container"><ul id="menu-main-nav" class="menu"><li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://embarkinspire.tumblr.com/">Our Story<br><span class="sub">a glimpse into our team process</span></a></li>
        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="https://github.com/cicadas-2014/Embark">GitHub<br><span class="sub">Fixing everyhting the third time around</span></a></li>
        <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://api.gadventures.com/">Featured API<br><span class="sub">our finest collaborator</span></a></li>
        <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="https://mail.google.com/">Contact<br><span class="sub">we want to hear from you</span></a></li>
        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page" style="display: none;"><a href="http://devbootcamp.com/blog/">What’s New<br><span class="sub">the latest and greatest from DevBootcamp</span></a></li>
    </ul></div>     </div>
    </div>


  <div  class="favorite_div">
    <form>
      <input type="button" adventure='<%= @adventure.id %>' id="favorite_button" value="Save to your favorites"/>
    </form>
  </div>

    <div id="header" class="scrolled">
      <div class="mid-cont">
        <a class = "embark" href="/" style="background-position: 0px -18px;">EMBARK</a>
        <div class="hamburger" style="background-position: 0px -28px;"></div>
    </div>
<div id="adventureDescription">


<!--   <div class="show_images">
    <div id="main_image">
      <img id="main_image" class="largeimage" src='<%= @adventure.image_url %>'/>
    </div>
  </div> -->

  <div id='description'>
     <header><%= @adventure.title %></header>
      <p><%= @adventure.description %></p>
  </div>



  <div id="map">
    <script type="text/javascript">
      var latitude = <%= @adventure.city.latitude %>;
      var longitude = <%= @adventure.city.longitude %>;
      renderMap(latitude,longitude); 
    </script>
  </div>

</div>
