<%= render "embark/topnav" %>

 <div id="inspire">Get inspired
  <% if current_user %>
  <div  class="favorite_div">
    <form>
      <input type="button" adventure='<%= @adventure.id %>' id="favorite_button" value="Save to your favorites"/>
    </form>
  </div>
  <% end %> 
 </div>
<!--  
<div id="spanheader"><span></span>

</div> -->

<br>

<div class="information">
<div class="show_images">
  <br>
    <div id="main_image">
      <img id="main_image" class="largeimage" src='<%= @adventure.image_url %>'/>
     <%@adventure.city.images.each do |image|%>
        <img id="main_image" class="largeimage" src='<%= image.medium_image_url %>'/>
      <%end%>
    </div>
  </div> 

  <br>

  <div id="adventureDescription">

  <div id='description'>
     <header><%= @adventure.title %></header>
     <div class="compass2"><a>`</a></div>

      <p><%= @adventure.description %></p>
  </div>



  <div id="map">
    <script type="text/javascript">
      var latitude = <%= @adventure.city.latitude %>;
      var longitude = <%= @adventure.city.longitude %>;
      renderMap(latitude,longitude); 
    </script>
  </div>
  <br>
</div>

<br>


</div>
