<div id='descridivtion_title'><p>embark</p></div>

<ul id="gallery">
<li><a>
<img src="<%= @adventure.images.first.url %>" alt="#1" title="#1" /></a></li>
<li><a>
<img src="<%= @adventure.images[1].url %>"/></a></li>
<li><a>
<img src="<%= @adventure.images[2].url %>"/></a></li>
<li><a>
<img src="<%= @adventure.images[3].url %>"/></a></li>
<li><a>
<img src="<%= @adventure.images[4].url %>"/></a></li>
<li><a>
<img src="<%= @adventure.images[5].url %>"/></a></li>
</ul>

<div id='description'>
<header></header>
<p><%= @adventure.description %></p>
</div>


<div id='adventure_map'><img src="<%= @adventure.map_url %>"></div>	
