<div id="logo">
	embark
</div>
<div id="search">
<%= link_to "Local", adventures_path(search: "local") %>
<%= link_to "Continential", adventures_path(search: "continential") %>
<%= link_to "Global", adventures_path(search: "global") %>
</div>
<div id="background">
<!--   <%= image_tag('http://www.designdpi.com/blog/images/blog/subtle-animated-gif-23.gif') %>
 -->  
<%= image_tag('http://www.designdpi.com/blog/images/blog/subtle-animated-gif-09.gif') %>
<!--   <%= image_tag('ferris.gif') %> -->
</div>